<!DOCTYPE html>
<html>
    <head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gojs/1.8.33/go-debug.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="main.css">
        <title>Course Map</title>
        <meta charset="utf-8">

    </head>
    <body>
      <div class="ui modal" id="login__modal" style="width: 500px;">
        <!-- <div class="header"><a onclick="showRegist()">註冊</a> 或 <a onclick="showLogin()" style="color:#4172b3">登入</a></div> -->
        <div class="flex-container content">
          <div class="login_logo"><img src="./picture/login_logo.png"></div>
          <p id="errormsg"></p>
          <div id="select_dept" style="margin-right:100px">
            <div class="login_input">
              <!-- <p><span>電子信箱 </span><input type="text" name="account" id="account"></p> -->
              <p><span>用戶名稱 </span><input type="text" name="username" id="username"></p>
              <p><span>系所名稱</span>
                <select name="dept" id="sel__dept">
                  <option value="No">-----請選擇系所-----</option>
                  <option v-for="(depart,index) in departments">{{depart}}</option>
                </select></p>
              <!-- <p><span>設定密碼 </span><input type="password" name="password" id="pwd"></p> -->
              <button type="submit" id="regist-btn" class="ui positive icon button">註冊</button>
            </div>

          </div>
          <div id="user_login" style="margin-right:100px">
            <div class="login_input">
              <p><span>電子信箱 </span><input type="text" id="log__em"></p>
              <p><span>輸入密碼 </span><input type="password" id="log__pass"></p>
              <button type="submit" id="login-btn" class="ui positive icon button">登入</button>
            </div>
          </div>
          <div>
          </div>
        </div>
      </div>


        <div id="MainPage">
          <nav class="navbar navbar-fixed-top">
            <div class="container-fluid">
              <div class="navbar-header">
                <a class="navbar-brand" id="nav-btn"><span style="margin-right:13px"> ☰ </span>CourseMap</a>
              </div>
              <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="../index.html">關於我們</a></li>
                <li><a id="logout-btn">登出</a></li>
              </ul>
          </div>
        </nav>


        <div id="sidenav">
          <div class="sidenav__contain">
            <h4>新增課程</h4>
            <hr>
            <div class="select--style">
              <select id="AddDept">
                <option name="choosedept" value="No">選擇系所</option>
                <option v-for="(dept, index) in dept_data">{{dept}}</option>
              </select>
            </div>

            <select id="CourseType">
                <option value="No" >選擇課程類別</option>
                <option value="0">必修</option>
                <option value="1">選修</option>
            </select>
            <!-- <input type="text" id="InputName" placeholder="課程名稱" maxlength="15" required> -->
            <select id="CourseName">
                <option value="No">選擇課程名稱</option>
                <option v-for="(course, index) in cfilter_data">{{course}}</option>
            </select>
            <select id="Grade">
                <option value="No">選擇年級</option>
                <option value="0">大一上</option>
                <option value="1">大一下</option>
                <option value="2">大二上</option>
                <option value="3">大二下</option>
                <option value="4">大三上</option>
                <option value="5">大三下</option>
                <option value="6">大四上</option>
                <option value="7">大四下</option>
            </select>
            <select id="Shape">
                <option value="No">選擇節點形狀</option>
                <option value="Circle">圓形</option>
                <option value="Triangle">三角形</option>
                <option value="Rectangle">正方形</option>
                <option value="FivePointedStar">星形</option>
            </select>
            <select id="Color">
                <option value="No">選擇節點顏色</option>
                <option value="#3b5998">藍色</option>
                <option value="#49796b">綠色</option>
                <option value="#d9534f">紅色</option>
                <option value="#fff68f">黃色</option>
            </select>
            <div style="display:none">
              <select id="Credits">
                <option value="No">default</option>
                <option v-for="course in credit_data">{{course}}</option>
              </select>
            </div>
            <div class="sidenav__btn--mod">
              <button id="AddButton" onclick="AddNode()" class="sidenav__btn">新增</button>
              <button id="UndoButton" onclick="UndoAddNode()" class="sidenav__btn">復原</button>
            </div>
          </div>
        </div>
          <div class="welcome_slogan">
            <h3 id="information1"> </h1>
            <h4 id="information2"> </h1>
          </div>

            <div class="semester_container">
                <div id="sem1" onclick="PrintTable(0)"></div>
                <div id="sem2" onclick="PrintTable(1)"></div>
                <div id="sem3" onclick="PrintTable(2)"></div>
                <div id="sem4" onclick="PrintTable(3)"></div>
                <div id="sem5" onclick="PrintTable(4)"></div>
                <div id="sem6" onclick="PrintTable(5)"></div>
                <div id="sem7" onclick="PrintTable(6)"></div>
                <div id="sem8" onclick="PrintTable(7)"></div>
            </div>
        </div>
        <div id="Canvas"></div>

        <div class="ui modal" id="saved_message">
          <div class="content">
            <p style="font-size:18px;font-weight:bold">儲存成功！</p>
          </div>
          <div class="actions">
              <div class="ui approve button">確認</div>
          </div>
        </div>

        <div class="ui modal" id="alert_modal">
            <div class="content">
              <p id="dia"></p>
            </div>
            <div class="actions">
                <div class="ui approve button">好吧</div>
            </div>
        </div>
        <div class="ui modal timetable" id="table_modal">
          <div class="header">課表</div>
          <div class="content">
              <table textalign="center" id="CourseTable">
                  <tr style="background-color:#adadad">
                      <td></td>
                      <td>星期一</td>
                      <td>星期二</td>
                      <td>星期三</td>
                      <td>星期四</td>
                      <td>星期五</td>
                  </tr>
                  <tr>
                      <td>第一節</td>
                      <td id="0"></td>
                      <td id="12"></td>
                      <td id="24"></td>
                      <td id="36"></td>
                      <td id="48"></td>
                  </tr>
                  <tr>
                      <td>第二節</td>
                      <td id="1"></td>
                      <td id="13"></td>
                      <td id="25"></td>
                      <td id="37"></td>
                      <td id="49"></td>
                  </tr>
                  <tr>
                      <td>第三節</td>
                      <td id="2"></td>
                      <td id="14"></td>
                      <td id="26"></td>
                      <td id="38"></td>
                      <td id="50"></td>
                  </tr>
                  <tr>
                      <td>第四節</td>
                      <td id="3"></td>
                      <td id="15"></td>
                      <td id="27"></td>
                      <td id="39"></td>
                      <td id="51"></td>
                  </tr>
                  <tr>
                      <td>午休</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                  </tr>
                  <tr>
                      <td>第五節</td>
                      <td id="4"></td>
                      <td id="16"></td>
                      <td id="28"></td>
                      <td id="40"></td>
                      <td id="52"></td>
                  </tr>
                  <tr>
                      <td>第六節</td>
                      <td id="5"></td>
                      <td id="17"></td>
                      <td id="29"></td>
                      <td id="41"></td>
                      <td id="53"></td>
                  </tr>
                      <td>第七節</td>
                      <td id="6"></td>
                      <td id="18"></td>
                      <td id="30"></td>
                      <td id="42"></td>
                      <td id="54"></td>
                  </tr>
                  <tr>
                      <td>第八節</td>
                      <td id="7"></td>
                      <td id="19"></td>
                      <td id="31"></td>
                      <td id="43"></td>
                      <td id="55"></td>
                  </tr>
                  <tr>
                      <td>第九節</td>
                      <td id="8"></td>
                      <td id="20"></td>
                      <td id="32"></td>
                      <td id="44"></td>
                      <td id="56"></td>
                  </tr>
                  <tr>
                      <td>第A節</td>
                      <td id="9"></td>
                      <td id="21"></td>
                      <td id="33"></td>
                      <td id="45"></td>
                      <td id="57"></td>
                  </tr>
                  <tr>
                      <td>第B節</td>
                      <td id="10"></td>
                      <td id="22"></td>
                      <td id="34"></td>
                      <td id="46"></td>
                      <td id="58"></td>
                  </tr>
                  <tr>
                      <td>第C節</td>
                      <td id="11"></td>
                      <td id="23"></td>
                      <td id="35"></td>
                      <td id="47"></td>
                      <td id="59"></td>
                  </tr>
                  </table>
          </div>
      </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.21/vue.js"></script>
        <script src="https://www.gstatic.com/firebasejs/3.5.2/firebase.js"></script>
        <script src="./main.js"></script>
        <script type="text/javascript" src="timetable_test.json"></script>
    </body>
    <script>
      // var course_data = all_course;
      // var dept = [];
      // for (var i=0;i<course_data.length;i++) {
      //   dept.push(course_data[i].dep);
      // }
      //
      // if(document.getElementById("AddDept").value=="No"){
      //   document.getElementById("CourseType").disabled = true;
      //   document.getElementById("CourseName").disabled = true;
      // }
      //
      // document.addEventListener("change", function() {
      //   if(document.getElementById("AddDept").value!="No"){
      //     document.getElementById("CourseType").disabled = false;
      //     document.getElementById("CourseName").disabled = false;
      //   }
      //
      //   var dept_index = document.getElementById("AddDept").selectedIndex;
      //   var course_index = document.getElementById("CourseType").value;
      //
      //   vue_add_new_node.cfilter_data = course_data[dept_index-1].course;
      //   vue_add_new_node.credit_data = course_data[dept_index-1].credit;
      //   // document.getElementById("Credits").value =
      //   var credit_index = document.getElementById("CourseName").selectedIndex;
      //   document.getElementById("Credits").value = course_data[dept_index-1].credit[credit_index-1];
      //   console.log(document.getElementById("Credits").value);
      //
      //   if(document.getElementById("CourseType").value=="No" && document.getElementById("CourseName")!="No"){
      //     var course_id = document.getElementById("CourseName").selectedIndex-1;
      //     console.log(course_data[dept_index-1].ctype[course_id]);
      //     console.log("time: "+course_data[dept_index-1].time[course_id]);
      //     if(course_data[dept_index-1].ctype[course_id]==1){
      //       document.getElementById("CourseType").value = "1";
      //     }else if (course_data[dept_index-1].ctype[course_id]==0) {
      //       document.getElementById("CourseType").value = "0";
      //     }
      //     // document.getElementById("CourseType").value = course_data[dept_index-1].ctype[course_id];
      //   }
      //
      //
      //   if(document.getElementById("CourseType").value==0){
      //     vue_add_new_node.cfilter_data = [];
      //     for(var i=0;i<course_data[dept_index-1].ctype.length;i++){
      //       if(course_data[dept_index-1].ctype[i] == 0){
      //         vue_add_new_node.cfilter_data.push(course_data[dept_index-1].course[i]);
      //       }
      //     }
      //   } else if (document.getElementById("CourseType").value==1) {
      //     vue_add_new_node.cfilter_data = [];
      //     for(var i=0;i<course_data[dept_index-1].course.length;i++){
      //       if(course_data[dept_index-1].ctype[i]==1){
      //         vue_add_new_node.cfilter_data.push(course_data[dept_index-1].course[i]);
      //       }
      //     }
      //     console.log(vue_add_new_node.cfilter_data.length);
      //   }
      //
      // });
      //
      //
      //
      // var vue_add_new_node = new Vue ({
      //   el: '#sidenav',
      //   data: {
      //     course_data: course_data,
      //     dept_data: vue_depart_list.departments,
      //     cfilter_data: [],
      //     credit_data: []
      //   },
      //   methods: {
      //
      //   }
      // });

    </script>
</html>
