<!DOCTYPE html>
<html>
    <head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gojs/1.8.33/go-debug.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
        <link rel="stylesheet" href="main.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"/>
        <title>Course Map</title>
        <meta charset="utf-8">

    </head>
    <body>
      <div class="ui modal" data-keyboard="false" data-backdrop="static" id="login__modal">
        <div class="header">註冊或<a href="">登入</a></div>
        <div class="content">
          <p id="errormsg"></p>
          <img src="./picture/login_logo.png">
          <div style="text-align:left;width:30%" id="select_dept">
            <p id="errormsg"></p>
            <p><span>email </span><input type="text" name="account" id="account"></p>
            <p><span>username </span><input type="text" name="username" id="username"></p>
            <p><span>Department</span>
              <select name="dept" id="sel__dept">
                <option value="No">----請選擇系所---</option>
                <option v-for="(depart,index) in departments">{{depart}}</option>
              </select></p>
            <p><span>password </span><input type="password" name="password" id="pwd"></p>
            <button type="submit" id="regist-btn" @click="" class="ui positive icon button">註冊</button>
          </div>
          <div style="">
            <p><span>email </span><br><input type="text" id="log__em"></p>
            <p><span>password </span><br><input type="password" id="log__pass"></p>
            <button type="submit" id="login-btn" class="ui positive right labeled icon button">登入</button>
          </div>
          <div>
          </div>
        </div>
      </div>
        <!-- <div id="LoginPage">
            <img src="./picture/login_logo.png">
            <h1>Welcome</h1>
            <div class="form_container">
                <a>
                    姓名：
                    <input type="text" id="name" placeholder="User" maxlength="3" autofocus required>
                </a>
                <br><br>
                <a>
                    系所：
                    <select name="department" id="department" required>
                        <option value="No">--請選擇系所--</option>
                    </select>
                </a>
                <br><br>
                <a>
                    <input id="login_button" type="submit" value="登入" onclick="submit_data()">
                </a>
            </div>
        </div> -->
        <div id="MainPage">
          <nav>
            <h4>CourseMap</h4>
            <button type="button" class="ui positive right labeled icon button" id="logout-btn">登出</button>
          </nav>
            <h1 id="information1"> </h1>
            <h1 id="information2"> </h1>
            <div class="semester_container">
                <div id="sem1"></div>
                <div id="sem2"></div>
                <div id="sem3"></div>
                <div id="sem4"></div>
                <div id="sem5"></div>
                <div id="sem6"></div>
                <div id="sem7"></div>
                <div id="sem8"></div>
            </div>
        </div>
        <div id="Canvas"></div>
        <div id="UserAdd">
            <h1 id="InputTitle">
                使用者專區
            </h1>
            <a>
                <select id="AddDept">
                  <option name="choosedept" value="No">選擇系所</option>
                  <option v-for="(dept, index) in dept_data">{{dept}}</option>
                </select>
                <select id="CourseType">
                    <option value="No" >選擇課程類別</option>
                    <option value="0">必修</option>
                    <option value="1">選修</option>
                </select>
                <!-- <input type="text" id="InputName" placeholder="課程名稱" maxlength="15" required> -->
                <select id="CourseName">
                    <option value="No">選擇課程名稱</option>
                    <option v-for="(course, index) in cfilter_data">{{course}}</option>
                </select>
                <select id="Shape">
                    <option value="No">選擇節點形狀</option>
                    <option value="Circle">圓形</option>
                    <option value="Triangle">三角形</option>
                    <option value="Rectangle">長方形</option>
                    <option value="FivePointedStar">星形</option>
                </select>
                <select id="Color">
                    <option value="No">選擇節點顏色</option>
                    <option value="blue">藍色</option>
                    <option value="green">綠色</option>
                    <option value="purple">紫色</option>
                    <option value="yellow">黃色</option>
                </select>
            </a>
            <button id="AddButton" onclick="AddNode()">新增</button>
            <button id="UndoButton" onclick="UndoAddNode()">復原</button>
            <button id="SaveButton" onclick="SaveNode()">儲存</button>
        </div>
        <div class="ui modal" id="alert_modal">
            <div class="content">
              <p id="dia"></p>
            </div>
            <div class="actions">
                <div class="ui approve button">Ok!</div>
            </div>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.21/vue.js"></script>
        <script src="https://www.gstatic.com/firebasejs/3.5.2/firebase.js"></script>
        <script src="./main.js"></script>
        <script type="text/javascript" src="timetable_test.json"></script>
    </body>
    <script>
      var course_data = all_course;
      var dept = [];
      for (var i=0;i<course_data.length;i++) {
        dept.push(course_data[i].dep);
      }

      document.addEventListener("change", function() {
        var dept_index = document.getElementById("AddDept").selectedIndex;
        var course_index = document.getElementById("CourseType").value;
        // if(document.getElementById("AddDept").value == "No"){
        //   console.log("disable");
        //   document.getElementById("CourseType").disabled = true;
        // }
        vue_add_new_node.cfilter_data = course_data[dept_index-1].course;
        console.log(course_data[dept_index-1].course.length);
        for(var i=0;i<course_data[dept_index-1].course.length;i++){
          // console.log(i+" "+course_data[dept_index-1].course[i]+" "+course_data[dept_index-1].ctype[i]);
        }

        if(document.getElementById("CourseType").value==0){
          vue_add_new_node.cfilter_data = [];
          console.log(vue_add_new_node.cfilter_data);
          for(var i=0;i<course_data[dept_index-1].ctype.length;i++){
            if(course_data[dept_index-1].ctype[i] == 0){
              vue_add_new_node.cfilter_data.push(course_data[dept_index-1].course[i]);
            } 
          }
          console.log(vue_add_new_node.cfilter_data.length);
        } else if (document.getElementById("CourseType").value==1) {
          vue_add_new_node.cfilter_data = [];
          console.log(vue_add_new_node.cfilter_data);
          for(var i=0;i<course_data[dept_index-1].course.length;i++){
            if(course_data[dept_index-1].ctype[i]==1){
              vue_add_new_node.cfilter_data.push(course_data[dept_index-1].course[i]);
            }
          }
          console.log(vue_add_new_node.cfilter_data.length);
        }

      });



      var vue_add_new_node = new Vue ({
        el: '#UserAdd',
        data: {
          course_data: course_data,
          dept_data: vue_depart_list.departments,
          cfilter_data: [],
        },
        methods: {

        }
      });

    </script>
</html>
