.content > img {
  width: 20%;
}

html, body, #Canvas{
    height: 100%;
    margin: 0;
}
*::-webkit-scrollbar{
    display: none;
}
#information1, #information2{
    color: #353535;
}

/*Main Page*/
/*My div*/
#Canvas{
    width: 99%;
    /* border: solid 3px black; */
    margin: auto;
    /* background-color:  yellow; */
}
/* GOJS diagram */
canvas {
    outline: none;
}
#UserAdd{
    background-color: white;
    width: 100%;
    height: 100px;
    border-top: solid 2px black;
}
#MainPage, #Canvas, #UserAdd{
    /* display: none; */
}
#MainPage{
    background-color: white;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 3;
}
.semester_container{
    position: relative;
    width: 100%;
    height: 50px;
    margin-bottom: 1rem;
}
#sem1, #sem2, #sem3, #sem4, #sem5, #sem6, #sem7, #sem8{
    width: 100px;
    height: 50px;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
}
#information1, #information2{
    margin-left: 2rem;
}
/*Login Page*/
#LoginPage{
    /*background-image: radial-gradient(circle, cyan, violet);*/
    /* background-image: linear-gradient(135deg, rgba(85,239,203,1) 0%,rgba(30,87,153,1) 0%,rgba(85,239,203,1) 0%,rgba(91,202,255,1) 100%); */
    height: 100%;
    text-align: center;
    font-size: 3rem;
    /*font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;*/
    font-family: "Microsoft YaHei";
}
#LoginPage > h1{
    /*font-size: 5rem;*/
    font-size: 4rem;
    margin-bottom: 3rem;
    /*color: #2D7586;*/
    /* color: #255e6c; */
}
.form_container{
    margin:0px auto;
    /*text-align: left;*/
    text-align: center;
    width: 50%;
    /* border: 3px solid black; */
}
input, select, option{
    height: 2rem;
    width: 250px;
    /* vertical-align: middle; */
}
#login_button{
    width: 75px;
    height: 45px;
    overflow: hidden;
    font-size: 30px;
    border-radius: 3px;
    background-color: #ECFBFF;
    border: 2px solid #A6E0EE;
    color: #2D7586;
    cursor: pointer;
}
/* alert modal*/
#dia{
    font-size: 3rem;
    font-weight: bold;
}
div.ui.approve.button{
    font-size: 1.5rem;
    font-weight: bold;
}

a, #login_button, #name, #department{
    font-size: 80%;
    font-family: "Microsoft YaHei";
}
#name, #department{
    background-color: rgb(218, 249, 254);
}
#department{
    color: #255e6c;
}
img{
    margin-top: 5%;
    height: 20%;
}

#InputName, #Grade, #Type, #Credits, #Shape, #Color{
    font-size: 200%;
    margin-left: 10px;
    height: 4rem;
    width: 12%;
}
#AddButton, #UndoButton, #SaveButton{
    font-size: 2rem;
    margin-left:30px;
    vertical-align: middle;
    height: 4rem;
    width: 5%;
}
#InputTitle{
    text-align: center;
}
