body {
  overflow-x: hidden;
  font-family: sans-serif;
}

a {
  cursor: pointer;
}

.navbar {
  border: none;
  background-color: #f2f2f2;
  padding: 0 1vw;
}

.navbar-brand {
  font-size: 16px;

}

/* login modal*/
.ui.modal>.header:not(.ui) {
  font-size: 16px;
}

.ui.modal {
  text-align: center;
  width: 500px;

}

.save-btn {
  background-color: #365998;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login_logo {
}

.login_logo img {
  width: 60%;
}

.login_input {
  margin-top: 8vh;
  text-align: right;
}

.login_input select, input {
  width: 200px;
}

.login_input input{
  border: none;
  background-color: #f7f7f7;
  border-radius: 5px;
  height: 30px;
}

.ui.positive.button {
  background-color: #03396c;
}

.ui.positive.button:active {
  background-color: #03396c;
}

#regist-btn, #login-btn {
  margin-top: 3vh;
}

#user_login {
  display: none;
}

/* nav */
nav a {
  color: #323232;
  cursor: pointer;
  font-size: 16px;
}

a:focus {
  outline: 0px;
}

a:visited {
  color: #323232;
}

a:hover {
  color: #7f7f7f;
}

.nav>li>a:hover {
  background-color: transparent;
  color: #7f7f7f;
}

#sidenav {
  display: none;
  position: fixed;
  background-color: rgb(40,40,40,0.9);
  height: 100vh;
  min-width: 300px;
  width: 20vw;
  transition: 0.5s;
  z-index: 10;
  overflow-y: hidden;
  top: 0;
}

#sidenav h4 {
  color: #fff;
  font-weight: normal;
}



.sidenav__contain {
  padding-top: 12vh;
  padding-left: 2vw;
  padding-right: 2vw;
}

.sidenav__contain select {
  margin: 1vh 0px;
}

.select--style {
  margin-top: 3vh;
}

.sidenav__btn {
  border: none;
  background-color: #f4f4f4;
  width: 4.5vw;
  font-size: 14px;
  margin-top: 5vh;
  margin-right: 5px;
  border-radius: 5px;
  padding: 0.5vh 0px;
}

.sidenav__btn:hover {
  background-color: #d3d3d3;
}

.sidenav__btn--mod {
  width: 20vw;
}

select {
  border: none;
  border-radius: 0px;
  padding: 3px 5px;
  width: 250px;
  height: 5vh;

}

select[disabled] {
  color: #a9a9a9;
}

.welcome_slogan {
  position: relative;
  top: 9vh;
  margin: 0 2vw;
  color: #525252;
  height: 10%;
}

html, body, #Canvas{
    height: 100%;
    margin: 0;
    font-family: sans-serif;
}

*::-webkit-scrollbar{
    display: none;
}
/* #information1, #information2{
    color: #353535;
} */

/*Main Page*/
/*My div*/
#Canvas{
    width: 99%;
    /* border: solid 3px black; */
    margin: auto;
    /* background-color:  yellow; */
}


/* GOJS diagram */
canvas {
    outline: none;
}
#UserAdd{
    background-color: white;
    width: 100%;
    height: 100px;
    border-top: solid 2px black;
}
#MainPage, #Canvas, #UserAdd{
    /* display: none; */
}
#MainPage{
    background-color: white;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 3;
}
.semester_container{
    position: relative;
    width: 100%;
    height: 50px;
    margin-bottom: 1rem;
    margin-top: 10vh;
}
#sem1, #sem2, #sem3, #sem4, #sem5, #sem6, #sem7, #sem8{
    width: 100px;
    height: 50px;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
}
/* #information1, #information2{
    margin-left: 2rem;
} */
/*Login Page*/
#LoginPage{
    /*background-image: radial-gradient(circle, cyan, violet);*/
    /* background-image: linear-gradient(135deg, rgba(85,239,203,1) 0%,rgba(30,87,153,1) 0%,rgba(85,239,203,1) 0%,rgba(91,202,255,1) 100%); */
    height: 100%;
    text-align: center;
    font-size: 3rem;
    /*font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;*/
    font-family: "Microsoft YaHei";
}
#LoginPage > h1{
    /*font-size: 5rem;*/
    font-size: 4rem;
    margin-bottom: 3rem;
    /*color: #2D7586;*/
    /* color: #255e6c; */
}
.form_container{
    margin:0px auto;
    /*text-align: left;*/
    text-align: center;
    width: 50%;
    /* border: 3px solid black; */
}
/* input, select, option{
    height: 2rem;
    width: 250px;
    vertical-align: middle;
} */
#login_button{
    width: 75px;
    height: 45px;
    overflow: hidden;
    font-size: 30px;
    border-radius: 3px;
    background-color: #ECFBFF;
    border: 2px solid #A6E0EE;
    color: #2D7586;
    cursor: pointer;
}
/* alert modal*/
#dia{
    font-size: 3rem;
    font-weight: bold;
}
div.ui.approve.button{
    font-size: 1.5rem;
    font-weight: bold;
}

#login_button, #name, #department{
    font-size: 80%;
    font-family: "Microsoft YaHei";
}
#name, #department{
    background-color: rgb(218, 249, 254);
}
#department{
    color: #255e6c;
}
img{
    margin-top: 5%;
    height: 20%;
}

/* #InputName, #Grade, #Type, #Credits, #Shape, #Color{
    font-size: 200%;
    margin-left: 10px;
    height: 4rem;
    width: 12%;
} */

/* #AddButton, #UndoButton, #SaveButton{
    font-size: 2rem;
    margin-left:30px;
    vertical-align: middle;
    height: 4rem;
    width: 5%;
} */
#InputTitle{
    text-align: center;
}
