/* TEST CODE*/
/* * {
    box-sizing: border-box!important;
    display: block;
    border: 1px solid red;
} */

/* [ layout ] */
*{
    box-sizing: border-box!important;
}

.logo{
    display: grid;
    background-image: url(./src/photo/logo.png);
    background-color: #E8FFFF;
    background-size: auto 350px;
    background-repeat: no-repeat;
    background-position: 50% 62%;
}

.use{
    display: grid;
    background-image: url(./src/photo/use.png);
    background-color: #F5E8FF;
    background-size: auto 350px;
    background-repeat: no-repeat;
    background-position: 10% 50%;
}

.idea{
    display: grid;
    background-image: url(./src/photo/IMG_1845.jpg);
    background-color: #FFE8E8;
    background-size: auto 350px;
    background-repeat: no-repeat;
    background-position: 90% 50%;
}

body{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to bottom right , #d7fdea 50%, #fdd8d7 50%);
    background-repeat: no-repeat;
    background-size: auto 670px;
    background-position: bottom;
}

/* body{ */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    /* background-color: #d7fdea; */
    /* background-image: url('./src/photo/about_bg.jpg'); */
    /* background-image: linear-gradient(to bottom right , #d7fdea 50%, #fdd8d7 50%); */
/* } */

.nav ul{
    list-style: none;
    /* margin-left: 85%; */
    /* margin-top: 0; */
    padding: 0;
    margin: 0;
    /* border: 0; */
    /* line-height: 1; */
    /* display: block; */
    /* position: fixed; */
    /* background-color: #FFF7E8; */
    /* background-color: #CCCCFF; */
    background-color: rgb(41, 23, 27);
    text-align: right;
    z-index: 100;
}

.nav li{
    font-family: 'Oswald', sans-serif;
    font-size: 1.2em;
    line-height: 30px;
    display: inline-block;
    /* border-bottom: 1px solid #888; */
}

.nav a{
    text-decoration: none;
    color: #fff;
    display: block;
    transition: .3s background-color;
}

.nav .Home{
    margin-right: 1%;
}

.nav .About{
    margin-right: 3%;
}

.logo{
    height: 580px;
}

.logo h1{
    margin-left: 20%;
    font-size: 1.8cm;
    font-family: Microsoft YaHei;
}

#words h1{
    font-size: 1.8cm;
    font-family: Microsoft YaHei;
}

#words h2{
    font-family: monospace;
}

.idea{
    /* margin: 7.6vh; */
    position: relative;
    height: 580px;
}

.idea #words{
    margin-top: 13vh;
    margin-left: 25vh;
    margin-right: 50%;
}

.use{
    /* margin: 7.6vh; */
    position: relative;
    height: 580px;
}

.use #words{
    margin-top: 6vh;
    margin-left: 55%;
    margin-right: 25vh;
}

.use #image{
    /* background-image: url('./src/photo/use.png'); */
    background-size: auto 300px;
    margin-right: 50%;

}

.container{
    height: 580px;
    margin: 7.6vh;
    position: relative;
    display: grid;
    grid-template-areas:
        'item1   .     item3   .     item5   .    '
        'item1  item2  item3  item4  item5  item6  '
        ' .     item2   .     item4   .     item6  ';

    grid-template-rows: 1fr 8fr 1fr;
    grid-template-columns: auto auto auto auto auto auto;
    grid-column-gap: 2vw;
}
#item1, #item2, #item3, #item4, #item5, #item6{
    position: relative;
    padding: 38vh 0;
    /* border: solid 2px #ccd1d1; */
    border-radius: 5px;
    z-index: 1;
    box-shadow: 0 0 60px 4px rgb(223, 223, 223);
}
#item1{
    grid-area: item1;  
}
#item2{
    grid-area: item2;
}
#item3{
    grid-area: item3;
}
#item4{
    grid-area: item4;
}
#item5{
    grid-area: item5;
}
#item6{
    grid-area: item6;
}
/* [ skin ]*/
.content, .pic{
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    transition-duration: 0.5s;
}
.pic{
    top: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 2;
}
.content{
    top: 0;
    text-align: center;
    z-index: 1;
    color: #e5e5e5;
    text-shadow: 0px 0px 3px black;
    padding-top: 50%;
    font-family: Microsoft JhengHei;
}

#item1 > .pic{
    background-image: url('./src/photo/1.jpg');
}
#item2 > .pic{
    background-image: url('./src/photo/2.jpg');
}
#item3 > .pic{
    background-image: url('./src/photo/3.jpg');
}
#item4 > .pic{
    background-image: url('./src/photo/4.jpg');
}
#item5 > .pic{
    background-image: url('./src/photo/5.jpg');
}
#item6 > .pic{
    background-image: url('./src/photo/6.jpg');
}
.fb_icon{
    background-image: url('./src/photo/fb_icon.png');
    margin-left: 20%;
    float: left;

}
.github_icon{
    background-image: url('./src/photo/github_icon.png');
    margin-right: 20%;
    float: right;

}
.fb_icon, .github_icon{
    position: inherit;
    width: 35px;
    height: 35px;
    background-repeat: no-repeat;
    background-size: cover;
}


